<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


  <ion-grid>

    <ion-row>
      <ion-col size="8" size-md>
        <h1 class="title">ยินดีต้อนรับเข้าสู่ Thisshop!</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input placeholder="| ใส่หมายเลขโทรศัพท์">+66</ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input placeholder="กรุณากรอกรหัสผ่าน">
            <ion-icon name="eye"></ion-icon>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        ลืมรหัสผ่าน?
      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col size="12" class="login">
        <ion-button expand="block" color="light">เข้าสู่ระบบ</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="singin">
        <ion-title size="small" color="medium">ลงทะเบียน</ion-title>
      </ion-col>
    </ion-row>


    <ion-row>
        <ion-col size="12" class="foot">
          <ion-title size="small" color="medium">ลงทะเบียนด้วยวิธีอื่น</ion-title>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="lineicon"size-md>
        <img src="https://img.icons8.com/color/70/000000/line-me.png">
      </ion-col>
    <ion-col size="6" class="faceicon" size-md>
      <img src="https://img.icons8.com/color/70/000000/facebook.png">
    </ion-col>
</ion-row>

  </ion-grid>