.login{
    margin-top: 20%;
}
.singin{
    margin-top: -2%;
}
.foot{
    margin-top: 5%;
}
.title{
    font: 2em sans-serif;
    color: orangered;
}
.faceicon{
    padding-right: 20%;
}
.lineicon{
    padding-left: 25%;
}